  <!-- version: 1.00 -->
  <!-- file name: electronics_header_insert.html -->
  <!-- Starter PCBv1.0 Flask web interface - a 'partial' template for insertion in other pages  -->
  <!--  to provide the HTML for the 'header' area of each electronics web page -->
  <!-- Author: Enmore -->
  <!-- Date: 210518 -->

  	<!-- header area at the top of the page content-->
	<header>
      <div class="container">
	   
       <div class="divcenter">
		<div style="width: auto; height: 80px; padding-left: 0; padding-right: 20px; margin-left: auto; margin-right: 0px; "><img src="{{ url_for('static', filename='images/Starter_PCB01_front_image.png') }}" height="120px" style="display: block; float: right;"></div>
	  	<div style="margin-top: 1%; width: auto; padding-left: 10%; padding-right: 10%; text-align:center">
	    <h3>Starter PCB v1.0 build</h3>
		<h3>{{ title }}</h3>
		<h3>at: {{ time_now }}</h3>
		</div>
		<div style="width: auto; height: 80px; padding-left: 20px; padding-right: 0px; margin-left: 0px; margin-right: auto;"><img src="{{ url_for('static', filename='images/Starter_PCB01_20210518_132528401_900w.jpg') }}" height="120px" style="display: block"></div>
	   </div>
	   
       <div class="divcenter">	   
	  {% if stat_text|length > 0 %}
	  	<div style="margin-top: 1%; width: auto; margin-left: auto; margin-right: auto; text-align:center">
        	<h5 style="margin-bottom: 0;">{{stat_text}}</h5>
      	</div>
	  {% endif %}
	  </div>	   
	   
	  </div>
    </header>